body{
    font-family:'lato',sans-serif;
    font-family: 'Open Sans',sans-serif;
    background-color: rgb(255, 255, 255);
    
}
.text-primary{
    color:coral;
}
.btn-primary{
    background-color: coral;
    border-radius: 5px;
    border:solid white 2px;
    padding:3% 5% 3% 4%;
    color:white;

}
nav{
    justify-content: space-between;
    align-items: center;
    margin:0 200px;
}
.nav-title{
    color:black;
    font-size: 45px;
    font-weight: 800;
}
nav ul{
    display: flex;
    float: right;
    top:-120px;
    position: relative;
    
}
nav li{
    list-style: none;
    text-decoration: none;
    margin:10px;
    
}
nav a{
    color:black;
    text-decoration: none;
}
section.about{
    background-color: rgb(255, 244, 219);
}
header{
    background-image: url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
p.section-description{
    text-align: center;
}
.abt{
    margin-left: 20%;
}
.banner{
    padding: 30px 30 0 30px;
    display:flex;
    font-size: 30px;
    
}
.banner-title{
    font-size: 85px;
    font-weight: 700px;
    margin-top:5px;
    margin-bottom:20px;
}
.banner .profile{
    width:800px;
    left:40%;
    position: relative;
}
main{
    max-width: 1140px;
    
    margin:0 auto;
}
main section{
    margin-top:130px;
}

section-description{
    width:700px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.section-title{
    color:black;
    text-align: center;
    line-height: normal;
}
.about{
    padding:130px;
    border-radius:4px ;
    margin: 130px 0;
    
}
.about-info-container{
    display:flex;
    justify-content: space-around;
}
 .about-info{
    text-align: center;
 }
 #ido{
    padding:30px 150px;
    text-align: center;
 }


.skills-container{
    display: flex;


}
.skill{
    padding:30px;
    gap:30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-discription{
    color: gray;

}
.resume-col-title{
    color: #474747;
    font-weight: 700;
 
}
.resume-container{
    display:flex;
    gap: 50px;
}
.resule-item-title{
    color: #474747;
    font-weight: 700;
}
.resume-item-info,.resume-item-description{
    color:gray;

}
.resume-col{
    width:50%;
}
footer{
    display: flex;
    background-color: antiquewhite;
    padding:130px 200px;
}
.social-link{
    display: flex;
    position: relative;
    gap:30px;
}
.section-cont input, textarea{
    display: block;
    margin-bottom:25px;
    padding:18px 35px;
    color:#474747;
    border: none;
    width:200px;
    margin-left: 40%;
    

}
.btn-primary1{
    margin-left: 40%;
    background-color: coral;
    border-radius: 5px;
    border:solid white 2px;
    padding:3% 5% 3% 4%;
    color:white;

}
.footer-col{
    width:1000px;
    gap:30px;
}